language: java
jdk:

  - oraclejdk8
  - oraclejdk9
  - oraclejdk11
  - openjdk7
  
script: "mvn --show-version --errors --batch-mode clean verify -DredirectTestOutputToFile=false"

cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - olamy@apache.org
